html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-image: url(../img/back.jpg);
  margin: 0 0 40px 0; }
  body nav {
    font-family: "Ubuntu", sans-serif;
    position: fixed;
    z-index: 100;
    top: 0;
    display: block;
    height: 200px;
    width: 100%;
    margin-top: -10px; }
    @media screen and (max-width: 850px) {
      body nav {
        position: relative;
        height: auto; } }
    body nav img {
      display: block;
      width: auto;
      height: 80%;
      background-color: #fff5eb;
      background-size: 80px;
      border-color: #fff5eb;
      border-radius: 10px;
      padding: 35px 25px 25px 25px;
      margin-left: 3%;
      float: left; }
      @media screen and (max-width: 850px) {
        body nav img {
          display: inline-block;
          height: auto;
          float: none;
          margin-left: 4%; } }
    body nav .bar {
      cursor: pointer; }
      @media screen and (max-width: 850px) {
        body nav .bar {
          display: inline-block;
          margin-left: 20%;
          margin-bottom: 3%; } }
      @media screen and (max-width: 850px) {
        body nav .bar .fa-bars {
          color: #034ea2; } }
    body nav #back-to-top {
      position: fixed;
      bottom: 40px;
      right: 10px;
      z-index: 9999;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 30px;
      background: #034ea2;
      color: white;
      cursor: pointer;
      border: 0;
      border-radius: 2px;
      text-decoration: none;
      transition: opacity 0.2s ease-out;
      opacity: 0; }
      body nav #back-to-top.show {
        opacity: 1;
        cursor: pointer; }
    body nav ul {
      color: #f5821f;
      font-family: "Ubuntu", sans-serif;
      background-color: #fff5eb;
      border-radius: 10px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      width: calc(100% - 287px);
      margin-left: 3%;
      padding: 1%;
      list-style-type: none; }
      @media screen and (max-width: 850px) {
        body nav ul {
          display: block;
          width: 90%;
          margin-top: 0;
          margin-left: 4%;
          margin-right: 3%;
          line-height: 20px; } }
      body nav ul li {
        width: 15%;
        display: inline-block;
        margin-right: 4%; }
        @media screen and (max-width: 850px) {
          body nav ul li {
            width: 100%;
            margin: 0; } }
      body nav ul a {
        color: #034ea2;
        display: block;
        padding: 7%;
        text-decoration: none;
        border-radius: 10px;
        text-align: center;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
        @media screen and (max-width: 850px) {
          body nav ul a {
            padding: 2%; } }
      body nav ul a:hover {
        color: #fff5eb;
        background-color: #f5821f;
        border-radius: 10px; }
  body .home {
    background-color: rgba(255, 245, 235, 0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: black;
    border-radius: 7px;
    margin: 3%;
    margin-top: 170px;
    padding: 20px; }
    @media screen and (max-width: 850px) {
      body .home {
        margin-top: 0;
        display: block;
        padding: 2%;
        width: 90%;
        margin-left: 4%;
        margin-right: 3%; } }
    body .home .welcome {
      display: inline-block;
      width: 45%;
      text-align: center;
      vertical-align: top;
      line-height: 30px;
      padding: 0 5% 0 5%;
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 0s; }
      @media screen and (max-width: 850px) {
        body .home .welcome {
          float: none;
          width: 90%;
          margin: 0 0 0 3%; } }
      body .home .welcome h4, body .home .welcome p {
        margin: 0; }
      body .home .welcome h4:last-of-type {
        margin-bottom: 5%; }
    body .home .image {
      width: 40%;
      margin: 0 3% 0 8%;
      display: inline-block; }
      @media screen and (max-width: 850px) {
        body .home .image {
          display: block;
          width: 100%;
          padding: 2%;
          margin: 0; } }
      body .home .image img {
        border-radius: 10px;
        width: 100%; }
  body .about {
    background-color: rgba(255, 245, 235, 0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
    border-radius: 7px;
    margin: 3%;
    margin-top: 170px;
    padding: 20px; }
    @media screen and (max-width: 850px) {
      body .about {
        margin-top: 0;
        display: block;
        padding: 2%;
        width: 90%;
        margin-left: 4%;
        margin-right: 3%; } }
    body .about img {
      float: left;
      width: 28%;
      margin-top: 5%;
      border-radius: 10px; }
      @media screen and (max-width: 850px) {
        body .about img {
          width: 94%;
          margin: 3%;
          float: none; } }
    body .about .opis {
      display: inline-block;
      width: 72%;
      padding-left: 3%;
      text-align: justify;
      list-style-position: inside; }
      @media screen and (max-width: 850px) {
        body .about .opis {
          width: 90%;
          padding: 2%;
          margin: 3%; } }
  body .offer {
    background-color: rgba(255, 245, 235, 0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: black;
    border-radius: 7px;
    margin: 3%;
    margin-top: 170px;
    padding: 20px; }
    @media screen and (max-width: 850px) {
      body .offer {
        margin-top: 0;
        display: block;
        padding: 2%;
        width: 90%;
        margin-left: 4%;
        margin-right: 3%; } }
    body .offer .image2 {
      float: left;
      width: 30%;
      margin-top: 5%; }
      @media screen and (max-width: 850px) {
        body .offer .image2 {
          width: 100%;
          margin-top: 0; } }
      body .offer .image2 img {
        border-radius: 10px;
        width: 100%; }
        @media screen and (max-width: 850px) {
          body .offer .image2 img {
            width: 94%;
            margin: 3%;
            float: none; } }
    body .offer .oferta {
      width: 60%;
      margin-left: 5%;
      display: inline-block; }
      @media screen and (max-width: 850px) {
        body .offer .oferta {
          width: 100%; } }
      body .offer .oferta i {
        color: #034ea2; }
      body .offer .oferta table {
        border-spacing: 15px 0; }
      body .offer .oferta li {
        line-height: 20px; }
  body #gallery p, body #contact > p {
    display: none; }
    @media screen and (max-width: 850px) {
      body #gallery p, body #contact > p {
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        background-color: #fff5eb;
        border-radius: 5px;
        display: block;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        text-align: center; } }
  @media screen and (max-width: 850px) {
    body .gallery {
      margin-top: 0;
      display: block; } }
  body .gallery .galeria-lightbox {
    margin-top: 170px;
    margin-left: 20%; }
    @media screen and (max-width: 850px) {
      body .gallery .galeria-lightbox {
        margin-top: 0;
        margin-left: 12%; } }
    body .gallery .galeria-lightbox img {
      top: 170px;
      width: 25%;
      padding: 0;
      margin: 1%;
      opacity: 1;
      display: inline-block;
      visibility: visible;
      border-radius: 10px; }
  @media screen and (max-width: 850px) {
    body .contact {
      margin-top: 0;
      display: block; } }
  body .contact #formularz {
    float: left;
    width: 25%;
    border: 3px solid #fff5eb;
    border-radius: 10px;
    padding: 15px;
    margin-top: 170px;
    margin-left: 3%;
    display: inline-block;
    margin-bottom: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #555555; }
    @media screen and (max-width: 850px) {
      body .contact #formularz {
        margin-top: 0;
        display: block;
        float: none;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%; } }
    body .contact #formularz p {
      color: #034ea2;
      margin-bottom: 15px; }
    body .contact #formularz input {
      font-family: "Ubuntu", sans-serif;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 5px;
      width: 100%;
      background-color: #fff5eb; }
    body .contact #formularz textarea {
      background-color: #fff5eb;
      font-family: "Ubuntu", sans-serif;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 5px;
      width: 100%;
      height: 150px;
      resize: none; }
    body .contact #formularz input.wyslij {
      font-family: "Ubuntu", sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #034ea2;
      background-color: #f5821f;
      width: 100%;
      height: 50px;
      cursor: pointer; }
  body .contact div.kontakt {
    background-color: rgba(255, 245, 235, 0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: black;
    border-radius: 7px;
    margin: 3%;
    margin-top: 170px;
    padding: 20px;
    width: 60%;
    display: inline-block; }
    @media screen and (max-width: 850px) {
      body .contact div.kontakt {
        margin-top: 0;
        display: block;
        float: none;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%; } }
    body .contact div.kontakt div {
      width: 48%;
      margin: 0;
      display: inline-block; }
      @media screen and (max-width: 850px) {
        body .contact div.kontakt div {
          display: block;
          width: 100%; } }
    body .contact div.kontakt table {
      display: inline-block; }
    body .contact div.kontakt .icon {
      text-align: center; }
    body .contact div.kontakt i {
      color: #f5821f; }
    body .contact div.kontakt .mapa {
      height: 100%; }
      @media screen and (max-width: 850px) {
        body .contact div.kontakt .mapa {
          margin-top: 0;
          display: block;
          float: none;
          width: 94%;
          margin-left: 3%;
          margin-right: 3%; } }
      body .contact div.kontakt .mapa iframe {
        width: 100%; }
  body footer {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #034ea2;
    display: block;
    position: absolute;
    left: 0;
    bottom: -0.5%;
    height: 40px;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #fff5eb;
    border-radius: 10px 10px 0 0; }
    @media screen and (max-width: 850px) {
      body footer {
        margin-top: 2%; } }

a:link {
  text-decoration: none; }

.active {
  color: #fff5eb;
  background-color: #f5821f;
  border-radius: 10px; }

.selected {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: black;
  border-radius: 7px; }

.no-selected {
  display: none; }

.menubar {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: block; }

/*# sourceMappingURL=style.css.map */
